* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.content {
  padding: 1rem;
  background-color: white;
  height: 100vw;
  width: 100vw;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 62rem;
    max-height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

.detail__image {
  transition: transform 0.8s;
}

.detail__image:hover {
  transform: scale(1.5);
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
