.pokemon {
  margin: 0.5rem;
  padding: 2rem 1rem;
  background-color: #49d0b0;
  border-radius: 1rem;

  /* height: 6.25rem; */
  display: flex;
  flex-direction: column;
}

.pokemon .number {
  color: black;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  color: white;
  margin-bottom: 0.25rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon .detail .types .type {
  background-color: #61e1ca;
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem;
  margin: 0.25rem 0;
  border-radius: 1rem;
}

.pokemon .detail img {
  max-width: 100%;
  height: 4.375rem;
  /* align-self: flex-end; */
}
